* {
  margin: 0;
}

.App {
  display: grid;
  place-items: center;
  width: 100%;
  font-family: sans-serif;
}

.Header {
  padding: 20px;
  background-color: #20232a;
  color: #61dafb;
  width: inherit;
}

.Header p {
  margin-left: 20px;
}

.Main {
  margin-top: 20px;
}

.Main label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.Main textarea {
  width: 300px;
  height: 70px;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.Main input {
  margin-left: 10px;
  width: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.Main button {
  margin-top: 30px;
  width: 300px;
  height: 30px;
  border: 0;
  background-color: #62dafb;
}

.Main button:hover {
  cursor: pointer;
  background-color: #20232a;
  color: #f2ffde;
}

.Error {
  color: red;
  font-size: 12px;
}
